
html {
  background-color: black;
  font-family: 'hind', serif;
  font-size: 24px;
  font-weight: 300;
  color: whitesmoke;
}

body {
  margin: 20px 5%;
  padding: 0px 20px 20px 0px;
  border-left: 5px solid whitesmoke;
}

h1 {
  margin-bottom: 60px;
}

h2 {
  margin: 60px 0;
}
.light {
  font-weight: 300;
}
.work {
  margin-bottom: 80px;
}
.work-details {
  margin-top: 0;
  margin-left: 38px;
  font-size: 22px;
}

#work-name {
  font-size: 30px;
  cursor: pointer;
}
#line {
  background-color: whitesmoke;
  margin-bottom: 9px;
  margin-left: 0px;
  margin-right: 8px;
}



details{
  display: inline-block;
  padding-right: 25%;
}

details > summary {
  list-style: none;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateY(-30px)}
  100%  {opacity: 1; transform: translateY(0)}
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}