
html {
  background-color: black;
  font-family: 'hind', serif;
  font-size: 24px;
  font-weight: 300;
  color: whitesmoke;
}

body {
  margin: 20px 5%;
  padding: 0px 20px 20px 0px;
  /*border-left: 5px solid whitesmoke;*/
}

h1 {
  margin-bottom: 60px;
}

h2 {
  margin: 60px 0;
}
.light {
  font-weight: 300;
}
.work {
  margin-bottom: 80px;
}
.work-details {
  margin-top: 0;
  margin-left: 38px;
  font-size: 22px;
}
/*
.clap-counter{
  display: inline-block;
}*/

#work-name {
  font-size: 30px;
  cursor: pointer;
}



#clap {
  font-size: 34px;
  animation: disappear 1.5s ease-in-out;
}

details{
  display: inline-block;
  padding-right: 25%;
}

details > summary {
  list-style: none;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateY(-30px)}
  100%  {opacity: 1; transform: translateY(0)}
}

@keyframes disappear {
  0%    {opacity: 1; transform: translateY(0)}
  100%  {opacity: 0; transform: translateY(-40px)}
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

.claps-counter {
  display: inline-block;
  color: #0A66C2;
  padding: 0px;
  margin: 0;
  animation: none;
  font-weight: 500;

}

.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-left: 38px;
  display: inline-block;

}

/*.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}
*/

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.timeline {
  position: fixed;
  left: 4.35%;
  width: 1%;
  height: 100%;
}

.tick-line {
  margin-bottom: 9px;
  margin-left: 0px;
  margin-right: 8px;
  height: 5px;
  width: 5%;
}